div.verde{

    background-color: rgb(27, 204, 51);

}
div.rojo{
    background-color: rgb(218, 10, 10);
}

div.rosa{
    background-color: rgb(245, 19, 113);
}

div.naranja{
    background-color: darkkhaki;
}

div.rojo{
    background-color: rgb(218, 10, 10);
}
div.azul{
    background-color: rgb(10, 46, 153);
}